<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  {% block title %}
  <title>Base Templates</title>
  {% endblock title %}

  <!-- Core theme CSS (includes Bootstrap)-->
  <link href={% static 'app/css/styles.css' %} rel="stylesheet" />
</head>

<body>
  <!-- Navigation-->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <h3>Santiago Lopez</h3>
    </div>
  </nav>
  <!-- Masthead-->
  {% block header %}
  {% block title_h1 %}{% endblock title_h1 %}
  {% endblock header %}

  {% block pie_header %}
  {% endblock pie_header %}
  <!-- Footer-->
  <p>
  </p>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href={% url 'home' %}>Home</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href={% url 'listado_santi' %}>Santis</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href={% url 'about' %}>Acerca de nosotros</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Humble Website 2022. All rights are not reserved.</p>
      </div>
    </div>
  </div>
</body>

</html>
